
<head>
 <title>Welcome to  Chat App</title>
</head>
<body style="font-family:Verdana">
   <div class="container">
      <div class="row " style="padding-top:40px;">
         <h3 class="text-center textcolor">Welcome to  Chat App </h3>
         <br /><br />
         <div class="col-md-8">
            <div class="panel panel-info">
               <div class="panel-heading" class="textcolor">
                  MESSAGES
               </div>
               <div class="panel-body">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-body">
                           <div class="media">
                              <div class="media-body" >
                                <p class="textcolor bubble" ng-repeat ="msg in msgs track by $index" >{{msg}}</p>
                              
                              </div>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
               <div class="panel-footer">
                  <div class="input-group">
                     <input type="text" class="form-control" ng-model="msg.text" placeholder="Enter Message" />
                     <span class="input-group-btn">
                     <button class="btn btn-info" ng-click="sendMsg();" type="button">SEND</button>
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="panel panel-primary">
               <div class="panel-heading">
               USERS
               </div>
               <div class="panel-body">
                  <ul class="media-list">
                     <li class="media">
                        <div class="media-body">
                           <div class="media">
                              <p class="textcolor" ng-repeat ="user in users track by $index">{{user.usr}}</p>
                           </div>
                        </div>
                     </li>  
                  </ul>
              
               </div>
             
            </div>
         </div>
      </div>
   </div>
</body>
</html>


