
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
    <div>Chat<span>App</span>
    </div>
    </div>
     <br>
    <form class="login" name = "loginForm">
    <!-- <p style="color:red;"> {{errorMessage}}</p> -->
        <input type="text"   placeholder="Enter Username"  ng-model="usertext"><br>
        <input type="button" ng-disabled="loginForm.$invalid" value="submit" ng-click= "submituserName();">
      </br> 
      </br> 
      <a class="signup" href""/> Sign Up ? </a>
   </form>

